# Churn Prediction -----> By John Stephen

## About this file

Based upon data of employees of a bank we calculate whether a employee stands a chance to stay in the company or not.

LINK: https://www.kaggle.com/datasets/shubh0799/churn-modelling/data

IMPORT FUNCTION:

In [86]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [12]:
data=pd.read_csv(r"C:\Users\john1\OneDrive\Desktop\Churn_Modelling.csv")
print(data.head(10))
print("Data Described is:")
print(data.describe())
print("Data Information:")
print(data.info())

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43
5          6    15574012       Chu          645     Spain    Male   44
6          7    15592531  Bartlett          822    France    Male   50
7          8    15656148    Obinna          376   Germany  Female   29
8          9    15792365        He          501    France    Male   44
9         10    15592389        H?          684    France    Male   27

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1
5       8  113755.78              2          1               0
6       7       0.00              2          1               1
7       4  115046.74              4          1               0
8       4  142051.07              2          0               1
9       2  134603.88              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0
5        149756.71       1
6         10062.80       0
7        119346.88       1
8         74940.50       0
9         71725.73       0
Data Described is:
         RowNumber    CustomerId   CreditScore           Age        Tenure  \
count  10000.00000  1.000000e+04  10000.000000  10000.000000  10000.000000
mean    5000.50000  1.569094e+07    650.528800     38.921800      5.012800
std     2886.89568  7.193619e+04     96.653299     10.487806      2.892174
min        1.00000  1.556570e+07    350.000000     18.000000      0.000000
25%     2500.75000  1.562853e+07    584.000000     32.000000      3.000000
50%     5000.50000  1.569074e+07    652.000000     37.000000      5.000000
75%     7500.25000  1.575323e+07    718.000000     44.000000      7.000000
max    10000.00000  1.581569e+07    850.000000     92.000000     10.000000

             Balance  NumOfProducts    HasCrCard  IsActiveMember  \
count   10000.000000   10000.000000  10000.00000    10000.000000
mean    76485.889288       1.530200      0.70550        0.515100
std     62397.405202       0.581654      0.45584        0.499797
min         0.000000       1.000000      0.00000        0.000000
25%         0.000000       1.000000      0.00000        0.000000
50%     97198.540000       1.000000      1.00000        1.000000
75%    127644.240000       2.000000      1.00000        1.000000
max    250898.090000       4.000000      1.00000        1.000000

       EstimatedSalary        Exited
count     10000.000000  10000.000000
mean     100090.239881      0.203700
std       57510.492818      0.402769
min          11.580000      0.000000
25%       51002.110000      0.000000
50%      100193.915000      0.000000
75%      149388.247500      0.000000
max      199992.480000      1.000000
Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB
None

In [14]:
print("Data Null values:")
print(data.isnull())
print("Total Null:",data.isnull().sum())

Data Null values:
      RowNumber  CustomerId  Surname  CreditScore  Geography  Gender    Age  \
0         False       False    False        False      False   False  False
1         False       False    False        False      False   False  False
2         False       False    False        False      False   False  False
3         False       False    False        False      False   False  False
4         False       False    False        False      False   False  False
...         ...         ...      ...          ...        ...     ...    ...
9995      False       False    False        False      False   False  False
9996      False       False    False        False      False   False  False
9997      False       False    False        False      False   False  False
9998      False       False    False        False      False   False  False
9999      False       False    False        False      False   False  False

      Tenure  Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0      False    False          False      False           False
1      False    False          False      False           False
2      False    False          False      False           False
3      False    False          False      False           False
4      False    False          False      False           False
...      ...      ...            ...        ...             ...
9995   False    False          False      False           False
9996   False    False          False      False           False
9997   False    False          False      False           False
9998   False    False          False      False           False
9999   False    False          False      False           False

      EstimatedSalary  Exited
0               False   False
1               False   False
2               False   False
3               False   False
4               False   False
...               ...     ...
9995            False   False
9996            False   False
9997            False   False
9998            False   False
9999            False   False

[10000 rows x 14 columns]
Total Null: RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [18]:
data=data.dropna()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [31]:
label_encoder=LabelEncoder()

In [42]:
encoded_data=pd.get_dummies(data,columns=['Surname','Geography','Gender'])
print(encoded_data)

      RowNumber  CustomerId  CreditScore  Age  Tenure    Balance  \
0             1    15634602          619   42       2       0.00
1             2    15647311          608   41       1   83807.86
2             3    15619304          502   42       8  159660.80
3             4    15701354          699   39       1       0.00
4             5    15737888          850   43       2  125510.82
...         ...         ...          ...  ...     ...        ...
9995       9996    15606229          771   39       5       0.00
9996       9997    15569892          516   35      10   57369.61
9997       9998    15584532          709   36       7       0.00
9998       9999    15682355          772   42       3   75075.31
9999      10000    15628319          792   28       4  130142.79

      NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  ...  \
0                 1          1               1        101348.88  ...
1                 1          0               1        112542.58  ...
2                 3          1               0        113931.57  ...
3                 2          0               0         93826.63  ...
4                 1          1               1         79084.10  ...
...             ...        ...             ...              ...  ...
9995              2          1               0         96270.64  ...
9996              1          1               1        101699.77  ...
9997              1          0               1         42085.58  ...
9998              2          1               0         92888.52  ...
9999              1          1               0         38190.78  ...

      Surname_2927  Surname_2928  Surname_2929  Surname_2930  Surname_2931  \
0                0             0             0             0             0
1                0             0             0             0             0
2                0             0             0             0             0
3                0             0             0             0             0
4                0             0             0             0             0
...            ...           ...           ...           ...           ...
9995             0             0             0             0             0
9996             0             0             0             0             0
9997             0             0             0             0             0
9998             0             0             0             0             0
9999             0             0             0             0             0

      Geography_France  Geography_Germany  Geography_Spain  Gender_Female  \
0                    1                  0                0              1
1                    0                  0                1              1
2                    1                  0                0              1
3                    1                  0                0              1
4                    0                  0                1              1
...                ...                ...              ...            ...
9995                 1                  0                0              0
9996                 1                  0                0              0
9997                 1                  0                0              1
9998                 0                  1                0              0
9999                 1                  0                0              1

      Gender_Male
0               0
1               0
2               0
3               0
4               0
...           ...
9995            1
9996            1
9997            0
9998            1
9999            0

[10000 rows x 2948 columns]

In [61]:
encoded_columns=['Surname','Geography','Gender']

for column in encoded_columns:
    data[column]=label_encoder.fit_transform(data[column])

print(data)

      RowNumber  CustomerId  Surname  CreditScore  Geography  Gender  Age  \
0             1    15634602     1115          619          0       0   42
1             2    15647311     1177          608          2       0   41
2             3    15619304     2040          502          0       0   42
3             4    15701354      289          699          0       0   39
4             5    15737888     1822          850          2       0   43
...         ...         ...      ...          ...        ...     ...  ...
9995       9996    15606229     1999          771          0       1   39
9996       9997    15569892     1336          516          0       1   35
9997       9998    15584532     1570          709          0       0   36
9998       9999    15682355     2345          772          1       1   42
9999      10000    15628319     2751          792          0       0   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

In [62]:
X=data.drop('Exited',axis=1)
y=data['Exited']

In [63]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=42)

In [64]:
model=RandomForestClassifier()

In [65]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [68]:
y_pred=model.predict(X_test)

In [69]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.97      0.92      3190
           1       0.79      0.42      0.55       810

    accuracy                           0.86      4000
   macro avg       0.83      0.70      0.73      4000
weighted avg       0.85      0.86      0.84      4000

## FINE-TUNE the Model:

In [74]:
param_grid={
    'n_estimators':[100,200,300],
    'max_depth':[None,5,10],
    'min_samples_split':[2,5,10]
}

In [75]:
grid_search=GridSearchCV(model,param_grid,cv=5)
grid_search.fit(X_train,y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'max_depth': [None, 5, 10],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [100, 200, 300]})

In [76]:
best_model=grid_search.best_estimator_

In [77]:
best_model

RandomForestClassifier(min_samples_split=5)

In [80]:
best_model.fit(X_train, y_train)
y_pred = best_model.predict(X_test)

In [84]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.97      0.92      3190
           1       0.79      0.43      0.56       810

    accuracy                           0.86      4000
   macro avg       0.83      0.70      0.74      4000
weighted avg       0.85      0.86      0.85      4000

In [85]:
y_pred_proba = best_model.predict_proba(X_test)[:, 1]
new_y_pred = (y_pred_proba > 0.7).astype(int)

In [87]:
cv_scores = cross_val_score(best_model, X_train, y_train, cv=5)
print("Cross-Validation Scores:", cv_scores)
print("Mean Cross-Validation Score:", cv_scores.mean())

Cross-Validation Scores: [0.85416667 0.86       0.87166667 0.84583333 0.85083333]
Mean Cross-Validation Score: 0.8564999999999999